#index_main_section {
    width: 90%;
    margin: 0px auto;
}

#index_main_section #registration_section {
    width: 50%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0px 15px 40px rgba(0,0,0,0.5);
}

#register-login-table {
    width: 70%;
    margin: 5px auto;
}

#register-login-table tr td {
    padding: 10px;
}

#register-login-table tr {
    transition: box-shadow 0.3s;
    border-radius: 50px;
}

#register-login-table tr:nth-child(9) {
    border-radius: 0px;
}

#register-login-table tr:nth-child(3):hover {
    box-shadow: 0px 0px 0px #fff;
}

#register-login-table tr:hover {
    box-shadow: 0px 10px 18px rgba(0,0,0,0.2);
}

#register-login-table tr td:nth-child(2) {
    float: right;
}

#register-login-table tr td input[type="text"] {
    padding: 12px;
    font-size: 14px;
    border-radius: 100px;
    outline: none;
    border: 1px solid #f1f1f1;
    transition: border 0.3s;
}

#register-login-table tr td input[type="password"] {
    padding: 12px;
    font-size: 14px;
    border-radius: 100px;
    outline: none;
    border: 1px solid #f1f1f1;
    transition: border 0.3s;
}

#register-login-table tr td input[type="text"]:focus {
    border: 1px solid #39f;
}

#register-login-table tr td input[type="password"]:focus {
    border: 1px solid #39f;
}

#register-login-table tr td input[type="submit"] {
    padding: 12px;
    font-size: 14px;
    border-radius: 100px;
    outline: none;
    border: none;
    transition: border 0.3s;
    background: #39f;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

#register-login-table tr td input[type="submit"]:active {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5) inset;
}